.contadap {
    font-size: 1vw;
    img {
        width: 25%;
    }
    
}

.col-sm-3 {
    float: left;
}

.sidebar-col{
    background: linear-gradient(to bottom, gray, white);
    color: black;
    font-size: 20px;
    height: auto;
    max-width: 15%;
    padding: inherit;
    display: block;
}

.sidebar-col a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: auto;
    display: block;
    transition: 1s;
    padding: 8px;
    margin-left: 20px;
}

.sidebar-col a:hover{
    background-color: #343a40;
    border-radius: 15px;
    width: 150px;
    color: white;
}
input[placeholder]{
    color: white !important;
}